.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  }
  
 .nav li {
  display: inline; 
 }
 
 .nav .container {
   display: inline;
 }
 
 .jumbotron {
   background-image: url('http://upload.wikimedia.org/wikipedia/commons/c/c5/1594_Orbis_Plancius_2,12_MB.jpg');
   height: 300px;
   background-repeat: no repeat;
   background-size: cover;
 }
 
 .jumbotron .container {
   position: relative;
   top: 100px;
 }
 
.jumbotron h1 {
  color: #fff;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
 }
 
.jumbotron p {
  font-size: 20px;
  color: #fff;
 }
 
 .top-categories {
   background-color: #fff;
 }
 
 .top-categories .container {
   background-color: #fff;
   border-bottom: 1px solid #dbdbdb;
 }
 
 .top-categories h2 {
   color: #000000;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: bold;
 }
 
 .top-categories h3 {
   color: #000000;
   font-family: 'Monserrat', sans-serif;
   font-size: 18px;
   font-weight: bold;
 }
 
 .top-categories p {
    color: #0000ff;
   font-family: 'Monserrat', sans-serif;
   font-size: 13px;
 } 
 
 .bottom-categories {
   background color: #fff;
 }
 
 .bottom-categories .container {
   background color: #fff;
   border bottom: 1px solid #dbdbdb;
 } 
 
 .bottom-categories h3 {
   color: #000000;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: bold;
 }
 
 .bottom-categories h4 {
   color: #000000;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: bold;
 }
 
 .bottom-categories p {
   color: #0000ff;
   font-family: 'Monserrat', sans-serif;
   font-size: 13px;
 }
 
 

