.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  }
  
 .nav li {
  display: inline; 
 }
 
 .nav .container {
   display: inline;
 }
 
 .jumbotron {
   background-image: url('http://img.photobucket.com/albums/v231/PrayciousAnjel/Fantasy%20Landscapes/landscape-fantasy-wallpapers-1-1.jpg');
   height: 500px;
   background-repeat: no repeat;
   background-size: cover;
   margin-bottom: 1px;
 }
 
 .jumbotron .container {
   position: relative;
   top: 100px;
 }
 
.jumbotron h1 {
  color: #fff;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
 }
 
.jumbotron p {
  font-size: 20px;
  color: #fff;
 }
 
 .top-categories {
   background-color: #000000;
 }
 
 .top-categories .container {
   background-color: #000000;
   border-bottom: 1px solid #dbdbdb;
   display: block;
   background-size: cover;
   border-top: 10px #000000;
 }
 
 .top-categories .container .thumbnail {
   float: left;
 }
 
 .top-categories h2 {
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: bold;
 }
 
 .top-categories p {
   color: #ffffff;
   font-family: 'Monserrat', sans-serif;
   font-size: 15px;
 } 
 
 
